apiVersion: apps/v1
kind: Deployment
metadata:
  name: huginn
  namespace: huginn
spec:
  replicas: 1
  selector:
    matchLabels:
      app: huginn
  template:
    metadata:
      labels:
        app: huginn
        app.kubernetes.io/name: huginn        
    spec:
      containers:
        - name: huginn
          image: ghcr.io/huginn/huginn@sha256:72512e51003115dbd9c88c4e2806ac483a7898698efc27c57b9e263f13640856
          ports:
            - containerPort: 3000
              name: http
              protocol: TCP
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
          tty: true
          stdin: true
      volumes:
        - name: mysql-data
          persistentVolumeClaim:
            claimName: huginn-mysql-pvc
